*.pyc
*.swp
.DS_Store
UniversalPetrarch/ar_input/*
UniversalPetrarch/data/ar_setup/*
UniversalPetrarch/en_input/*
UniversalPetrarch/en_testinput/*
UniversalPetrarch/preprocessing/.ipynb_checkpoints/*
UniversalPetrarch/preprocessing/segmenter/*
UniversalPetrarch/preprocessing/stanford-corenlp-full-2018-01-31/*
UniversalPetrarch/tests/*
UniversalPetrarch/test_output/*
UniversalPetrarch/PETRARCH.log
ar_data/*
en_input/* 
UniversalPetrarch/data/text/*
../.vscode/*
evts.*

